@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

/*
#8DFFA6
#216630
#35A64D
#000000
#ffffff
.. acessa pasta anterior
*/

:root {
    --verde-claro: #8DFFA6;
    --verde-escuro: #216630;
    --verde-principal: #35A64D;
    --preto: #000000;
    --branco: #f7f7f7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'idroid', cursive;
}


* {

    margin: 0px;
    padding: 0px;

}

body {
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: var(--verde-claro);
}

main {

    background-color: var(--branco);
    width: 800px;
    margin: auto;
    box-shadow: 1px 3px 7px 4px #00000044;
}

    img {
        margin: auto;
        max-width: 100%;
    }

    article {
        
        padding: 32px;
    }

    h1 {

        text-shadow: 3px 3px 3px #00000049;
       
    }


    #titulo_principal {
        font-family: var(--font-titulo);
        font-size: 2em;
        color: var(--verde-principal);
        font-weight: normal;
        padding: 1px;
        text-shadow: none;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    p {
        text-indent: 20px;

    }

    #video_box {

        background-color: var(--verde-principal);

    }

    h2 {
        padding-left: 16px;
        color: var(--verde-escuro);
        background-image: linear-gradient(to right, var(--verde-claro), #8dffa600 );
        font-family: 'idroid';
        font-weight: normal;

    }

header {
    background-image: linear-gradient(to top, var(--verde-escuro), var(--verde-principal));
    color: var(--branco);
    text-align: center;
    margin: 0px;
    padding: 16px;
}

nav {
    background-color: var(--verde-escuro);
    padding: 8px;
    text-align: left;
    align-content: center;
}

 #video_box > iframe {
    padding: 16px;
    margin: auto;
 }

nav > a {

    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;

}

nav > a:hover {

    text-decoration: underline;


}

footer {
    padding: 6px;
    color:var(--branco);
    text-align: center;
    background-color: var(--verde-escuro);
    margin: auto;
}