@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

/*
#8DFFA6
#216630
#35A64D
#000000
#ffffff
.. acessa pasta anterior
*/

:root {
    --verde-claro: #8DFFA6;
    --verde-escuro: #216630;
    --verde-principal: #35A64D;
    --preto: #000000;
    --branco: #f7f7f7;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-titulo: 'idroid', cursive;
}


* {

    margin: 0px;
    padding: 0px;

}

body {
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: var(--verde-claro);
}

main {  
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--branco);
    padding: 20px;
    margin: auto;
    box-shadow: 1px 3px 7px 4px #00000044;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

        main img {
        width: 100%;    

        }

        main img.pequena {

            width: 50%;
            margin: auto;
            display: block;
        }
  

  

    #titulo_principal {
        font-family: var(--font-titulo);
        color: #216630;
       
    }




    p {
        text-indent: 20px;

    }

    #video_box {

        background-color: var(--verde-principal);

    }

    h2 {
        padding-left: 16px;
        color: var(--verde-escuro);
        background-image: linear-gradient(to right, var(--verde-claro), #8dffa600 );
        font-family: 'idroid';
        font-weight: normal;

    }

header {
    min-height: 150px;
    background-image: linear-gradient(to top, var(--verde-escuro), var(--verde-principal));
    color: var(--branco);
    text-align: center;
    padding-top: 40px;
    
}


header > p {
  color: white;
  font-size: 1em;
  font-family: var(--fonte-padrao);
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;;
  padding-bottom: 16px;
  margin: auto;
  text-shadow: 3px 3px 3px #00000049;
}

header > h1 {
    color: white;
    font-size: 2.5em;
    font-family: var(--font-titulo);
    margin-bottom: 20px;
    text-shadow: 0px 7px 7px #00000049;
  }
  

nav {
    background-color: var(--verde-escuro);
    padding: 10px;
    box-shadow: 0px 7px 7px #00000049;
    text-align: left;
    align-content: center;
}

 #video_box > iframe {
    padding: 16px;
    margin: auto;
 }

nav > a {
    color: white;
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    

}


nav > a:hover {
    transition-duration: 0.5s;
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    

}

footer {
    padding: 6px;
    color:var(--branco);
    text-align: center;
    background-color: var(--verde-escuro);
    margin: auto;
}