@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}


body {
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #8DFFA6;
}

main {

    background-color: white;
    width: 800px;
    margin: auto;
    box-shadow: 1px 3px 7px 4px rgba(0, 0, 0, 0.267);
}

    img {
        margin: auto;
        max-width: 100%;
    }

    article {
        
        padding: 32px;
    }

    h1 {

        text-shadow: 3px 3px 3px #00000049;
       
    }


    #titulo_principal {
        font-family: 'idroid';
        font-size: 2em;
        color: #216630;
        font-weight: normal;
        padding: 1px;
        text-shadow: none;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    p {
        text-indent: 20px;

    }

    #video_box {

        background-color: #35A64D;

    }

    h2 {
        padding-left: 16px;
        color: #216630;
        background-image: linear-gradient(to right, #8dffa69f, #8dffa600 );
        font-family: 'idroid';
        font-weight: normal;

    }

header {
    background-image: linear-gradient(to top, #216630, #35A64D);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 16px;
}

nav {
    padding: 8px;
    text-align: left;
    align-content: center;
}

 #video_box > iframe {
    padding: 16px;
    margin: auto;
 }

nav > a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;

}

nav > a:hover {

    text-decoration: underline;


}

footer {
    padding: 6px;
    color:white;
    text-align: center;
    background-color: #216630;
    margin: auto;
}